<% layout("/layouts/boilerplate.ejs") -%>

    <body>
      
          <!-- <h2 class="offset-2 mb-3">Create a new listing</h2> -->
         
        <div class="row mt-4">

            <div class="col-8 offset-2 col-md-8 offset-md-2">
            <form method="post" action="/listings" novalidate class=" needs-validation" enctype="multipart/form-data">
            
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" name="listing[title]" class="form-control" placeholder="Title" required>
                    <div class="invalid-feedback">Please enter a valid title</div>
                    <div class="valid-feedback">Title looks good</div>
                </div>
                
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea name="listing[description]" class="form-control" placeholder="Description" required></textarea>
                    <div class="invalid-feedback">Please enter a short description</div>

                </div>
                  

                <div class="mb-3">
                    <label for="image" class="form-label">Upload Image</label>
                    <input type="file" name="listing[image]" class="form-control" required>
                </div>
                
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" min="1" step="1" name="listing[price]" class="form-control" placeholder="Price" required>
                    <div class="invalid-feedback">Price must be a positive whole number</div>
                    <div class="valid-feedback">Price looks valid</div>
                </div>
          
                <div class="row">

                    <div class="mb-3 col-md-4">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" name="listing[location]" class="form-control" placeholder="Your location" required>
                        <div class="invalid-feedback">Enter the valid location</div>
                    </div>
                    
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" name="listing[country]" class="form-control" placeholder="country" value="India" required>
                        <div class="invalid-feedback">Enter your country name</div>
                    </div>
                    
                </div>
                <button type="submit" class="btn edit-btn btn-primary mt-2 ">Create listing</button>
            </form>
        </div>
        </div>
   
    </body>