<% layout("/layouts/boilerplate.ejs") -%>

    <div class="row mt-3">
        <h1 class="col-6 offset-3 mb-3">SignUp on HappyHaven</h1>

        <div class="col-6 offset-3">

            <form action="/signup" method="POST" novalidate class="needs-validation">
                
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" name="username" class="form-control" id="username" placeholder="Username"  required>
                    <div class="invalid-feedback">Please enter a valid username</div>
                    <div class="valid-feedback">looks good</div>
                </div>
                 
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" class="form-control" placeholder="Email" required>
                    <div class="invalid-feedback">Please enter a valid email address</div>
                </div>
           
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
                </div>

                <button class="btn btn-success mt-2">SignUp</button>

            </form>

        </div>

    </div>