<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HappyHaven</title>
</head>

<body>
    <footer>
        <div class="main-footer">
            <div class="f-info-one">
                <i>&copy HappyHaven.inc</i>
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Sitemap</a>
                <a href="#">Company details</a>
            </div>
            <div class="f-info-two">

                <div class="lang">
                    <i class="fa-solid fa-globe"></i>&nbsp;&nbsp;English(IN)
                </div>
                <div class="inr">
                    &#8377;&nbsp;INR
                </div>
                <div class="f-social">

                    <a href="#"> <i class="fa-brands fa-instagram"></i></a>
                    <a href="#"> <i class="fa-brands fa-facebook"></i></a>
                    <a href="#"> <i class="fa-brands fa-twitter"></i></a>
                    <a href="#"> <i class="fa-brands fa-linkedin"></i></a>

                </div>
            </div>
        </div>
    </footer>
</body>

</html>